<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Project List</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <p:dataTable var="project" value="#{projectBean.projects}">
        <p:column headerText="Project ID:">
            <h:outputText value="#{project.id}"/>
        </p:column>
        <p:column headerText="Project name:">
            <h:outputText value="#{project.name}"/>
        </p:column>
        <p:column headerText="Project description:">
            <h:outputText value="#{project.description}"/>
        </p:column>
        <p:column headerText="View" style="width: 100px; text-align: center">
            <p:commandButton action="projectView?faces-redirect=true" value="View">
                <f:setPropertyActionListener
                        target="#{projectBean.id}" value="#{project.id}"/>
            </p:commandButton>
        </p:column>
        <p:column headerText="Edit" style="width: 100px; text-align: center">
            <p:commandButton action="projectUpdate?faces-redirect=true" value="Edit">
                <f:setPropertyActionListener
                        target="#{projectBean.id}" value="#{project.id}"/>
            </p:commandButton>
        </p:column>
        <p:column headerText="Delete" style="width: 100px; text-align: center">
            <p:commandButton value="Delete" action="#{projectBean.remove(project.id)}"/>
        </p:column>
    </p:dataTable>
    <p:button outcome="projectCreate" value="Create project" style="margin-right:20px;"/>
    <p:button outcome="projectList" value="Refresh" style="margin-right:20px;"/>
</h:body>
</html>