<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Project</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <p:dataTable var="project" value="#{projectBean.findOne(projectBean.id)}">
        <p:column headerText="Project ID:">
            <h:outputText value="#{project.id}"/>
        </p:column>
        <p:column headerText="Project name:">
            <h:outputText value="#{project.name}"/>
        </p:column>
        <p:column headerText="Project description:">
            <h:outputText value="#{project.description}"/>
        </p:column>
        <p:column headerText="Project date of creation:">
            <h:outputText value="#{project.dateOfCreation}"/>
        </p:column>
        <p:column headerText="Project start date:">
            <h:outputText value="#{project.dateStart}"/>
        </p:column>
        <p:column headerText="Project finish date:">
            <h:outputText value="#{project.dateFinish}"/>
        </p:column>
        <p:column headerText="Project status:">
            <h:outputText value="#{project.status}"/>
        </p:column>
        <p:column headerText="Tasks" style="width: 100px; text-align: center">
            <p:commandButton action="projectTaskList?faces-redirect=true" value="Tasks">
                <f:setPropertyActionListener
                        target="#{projectBean.id}" value="#{project.id}"/>
            </p:commandButton>
        </p:column>
        <p:column headerText="Edit" style="width: 100px; text-align: center">
            <p:commandButton action="projectUpdate?faces-redirect=true" value="Edit">
                <f:setPropertyActionListener
                        target="#{projectBean.id}" value="#{project.id}"/>
            </p:commandButton>
        </p:column>
        <p:column headerText="Delete" style="width: 100px; text-align: center">
            <p:commandButton value="Delete" action="#{projectBean.remove(project.id)}"/>
        </p:column>
    </p:dataTable>
    <p:button outcome="taskCreate" value="Create task" style="margin-right:20px;"/>
    <p:button outcome="projectView" value="Refresh" style="margin-right:20px;"/>
</h:body>
</html>