<html xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Create task</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <h:form id="form">
        <p:panelGrid columns="1" styleClass="ui-fluid center ui-noborder">
            <h2>Create task</h2>
            <h:outputText for="name" value="Name"/>
            <p:inputText id="name" value="#{taskBean.name}" label="Name" required="true"/>

            <h:outputText for="description" value="Description"/>
            <p:inputText id="description" value="#{taskBean.description}" label="Description"/>

        </p:panelGrid>
        <p:commandButton action="#{taskBean.create(projectBean.findOne(projectBean.id), taskBean.name,
        taskBean.description)}" value="Create task" style="margin-right:20px;">
        </p:commandButton>
    </h:form>
</h:body>
</html>
